html,
body {
  background-color: #00346f;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(89, 227, 15);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.mail {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
}

a {
  color: rgb(238, 235, 235);
  text-decoration: none;
  display: block;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid rgb(89, 227, 15);
  border-radius: 10px;
}

.boton {
  margin: block 2rem;
}

a:hover {
  transform: scale(1, 1);
  box-shadow: 0 5px 30px rgb(238, 235, 235);
  border: 1px solid rgb(89, 227, 15);
}
